<h2>v-text</h2>
<div id="app">	
  <!--보간법과 v-text는 완전히 동일한 역할을 한다.-->	
  <!-- 보간법 -->	
  <p>{{ message }}</p>	
  <!-- v-text -->	
  <p v-text="message"></p>	
</div>	
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>	
<script>	
  const app = new Vue({	
    el:"#app",	
    data:{	
      message:'hello Vue !',	
    }	
  })	
</script>
<hr>



<h2>v-if</h2>
<div id="app2">
  <p v-if="bool1">True</p>
  <p v-if="bool2">False</p>
  <p v-if="num1">1</p>
  <p v-if="num2">0</p>
  <p v-if="str1">'Yes'</p>
  <p v-if="str2">''</p>
  <p v-if="array1">[1,2,3]</p>
  <p v-if="array2">[]</p>
  <p v-if="array2.length">[].length</p>
  <p v-if="object1">{a:'b'}</p>
  <p v-if="object2">{}</p>
  <p v-if="object2.length">{}.length</p>
</div>


<script>
  const app2 = new Vue({
    el:"#app2",
    data: {
      bool1:true,
      bool2:false,
      num1:1,
      num2:0,
      str1:'Yes',
      str2:'',
      array1:[1,2,3],
      array2:[],
      object1:{a:'b'},
      object2:{},

    },
  })
</script>
<hr>


<h2>v-else-if,v-else</h2>
<div id="app3">
  <p v-if="a === b">
    a
  </p>
  <p v-else>
    b
  </p>

  <p v-if="number > 0">
    양수
  </p>
  <p v-else-if="number < 0">
    음수
  </p>
  <p v-else>
    0
  </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--아래 username이나 number를 바꿔주면 반응형으로 조건에 따라 출력 내용이 바뀐다.-->
<script>
  const app3 = new Vue({
    el:'#app3',
    data:{  
      a:'asd',
      b:'asd',
      number:-1,
  }
  })
</script>
<hr>


<h2>v-for</h2>
<div id="app4">
  <ul>
    <li v-for="num in nums">{{ num }}</li>
  </ul>
</div>

<script>
  const app4=new Vue({
    el:"#app4",
    data:{
      nums:[1,2,3],
    },
  })
</script>
<hr>


<h2>v-show</h2>
<div id="app7">
  <p v-show="f">if와의 차이는 관리자도구를 보면 알 수 있다.</p>
</div>

<script>
  const app7 = new Vue({
    el:'#app7',
    data:{  
      f:false,
    },
  })
</script>
<hr>


<h2>v-model</h2>
<div id="app5">
  {{message}}
  <!--단방향 바인딩( input => data )-->
  <!--
    입력창에 다른 것을 입력하면(event.target.value를 바꾸면, input이 바뀌면) message(data)가 바뀌지만,
    브라우저의 Vue창에서 message(data)를 바꾼다고 해서 input이 바뀌지는 않는다.
  -->
  <input @keyup="onInputChange" type="text">

  <!--양방향 바인딩( input <=> data)-->
  <input @keyup="onInputChange" type="text" :value="message">

  <!-- v-model을 사용한 양방향 바인딩-->
  <!--이 경우 아래 정의한 methods를 주석처리해도 작동한다.-->
  <input v-model="message" type="text">
</div>

<!--
위 코드를 브라우저로 실행하면 입력창 3개가 뜨는데, 어느 검색창에 입력을 하든 data는 바뀌게 된다. 그러나 양방향 바인딩이 된 2,3번째 검색창은 data가 바뀔 경우엔 입력창에 입력된 input도 바뀌게 되는데 단방향 바인딩인 1번째 검색창의 input은 변하지 않는다.
-->


<script>
  const app5 = new Vue({
    el:'#app5',
    data:{  
      message:'Hi',
    },
    //model을 사용해 바인딩한 경우 아래 코드는 주석처리해도 된다.
    methods: {
      onInputChange(event) {
        this.message = event.target.value
      }
    }
  })
</script>
<hr>



<h2>v-bind, v-on</h2>
<style>
  .nigthmode{
    color:white;
    background-color: black;
  }
</style>

<div id="app6">
  <a v-bind:href="naverUrl">Naver link</a>
  <h5 :class="{nigthmode:abc}">야간모드</h5>
  <button v-on:click="change">모드 전환</button>

</div>

<script>
  const app6 = new Vue({
    el:'#app6',
    data:{  
      naverUrl:'https://naver.com',
      abc:true
    },
    methods:{
      change:function(){
        this.abc=!this.abc
      },
    }
  })
</script>
<hr>